@model IEnumerable<PS_01_03_2024.Models.Verbale>

@{
    ViewBag.Title = "ListaVerbali";
}

<h2>ListaVerbali</h2>

<p>
    @Html.ActionLink("INSERISCI NUOVO VERBALE", "NewVerbale", new { }, new { @class = "btn btn-warning rounded-5 mb-2 fw-bold" })
</p>
<table class="table">
    <tr>
        <th class="bg-primary text-white">
            @Html.DisplayNameFor(model => model.IdVerbale)
        </th>
        <th  class="bg-primary text-white">
            @Html.DisplayNameFor(model => model.DataViolazione)
        </th>
        <th  class="bg-primary text-white">
            @Html.DisplayNameFor(model => model.IndirizzoViolazione)
        </th>
        <th  class="bg-primary text-white">
            @Html.DisplayNameFor(model => model.NominativoAgente)
        </th>
        <th  class="bg-primary text-white">
            @Html.DisplayNameFor(model => model.DataTrascrizioneVerbale)
        </th>
        <th  class="bg-primary text-white">
            @Html.DisplayNameFor(model => model.Importo)
        </th>
        <th  class="bg-primary text-white">
            @Html.DisplayNameFor(model => model.DecurtamentoPunti)
        </th>
        <th  class="bg-primary text-white">
            @Html.DisplayNameFor(model => model.IdAnagrafica)
        </th>
        <th  class="bg-primary text-white">
            @Html.DisplayNameFor(model => model.IdViolazione)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="fw-bold">
                @Html.DisplayFor(modelItem => item.IdVerbale)
            </td>
            <td class="fw-bold">
                @Html.DisplayFor(modelItem => item.DataViolazione)
            </td>
            <td class="fw-bold">
                @Html.DisplayFor(modelItem => item.IndirizzoViolazione)
            </td>
            <td class="fw-bold">
                @Html.DisplayFor(modelItem => item.NominativoAgente)
            </td>
            <td class="fw-bold">
                @Html.DisplayFor(modelItem => item.DataTrascrizioneVerbale)
            </td>
            <td class="fw-bold">
                @Html.DisplayFor(modelItem => item.Importo)
            </td>
            <td class="fw-bold">
                @Html.DisplayFor(modelItem => item.DecurtamentoPunti)
            </td>
            <td class="fw-bold">
                @Html.DisplayFor(modelItem => item.IdAnagrafica)
            </td>
            <td class="fw-bold">
                @Html.DisplayFor(modelItem => item.IdViolazione)
            </td>
      
        </tr>
    }

</table>
